
 body{background-color: rgb(94, 29, 155);
    color: rgb(0, 0, 0);

}
h2{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: antiquewhite;

}
.filme1{
    
    text-align: center;
    width: 40%;
}